/* Menggunakan font Nunito dan Signika dari Google Fonts */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.regist-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.title {
    font-family: 'Signika', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
}

.form input,
.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form input:focus,
.form select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #004085;
}
