
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparan hitam */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffeb3b;
}

/* Body Styles */
body {
    margin-top: 80px; /* Sesuaikan margin atas dengan tinggi navbar */
    background-color: #f0f0f0; /* Warna latar belakang halaman */
    font-family: 'Nunito', sans-serif;
}

/* Upload Form Styles */
.upload-form {
    background-color: #fff; /* Latar belakang putih untuk form */
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.upload-form label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.upload-form input, .upload-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.upload-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.upload-form button:hover {
    background-color: #555;
}
