body {
    font-family: 'Poppins', sans-serif;
    background: url('p.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffeb3b;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    padding: 20px;
    margin-top: 60px; /* Offset for fixed header */
}

.hero-content {
    max-width: 800px;
    color: #fff;
    background: rgba(0, 123, 255, 0.7); /* Semi-transparent blue background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero p {
    font-size: 1.2em;
    line-height: 1.5;
}

.culture-info {
    padding: 60px 20px;
    text-align: center;
    background: rgba(0, 123, 255, 0.7); /* Semi-transparent blue background */
    color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.culture-info h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 600;
}

.culture-info p {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 40px 20px;
    color: #fff;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-content .social-media img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.footer-content .about {
    max-width: 400px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
}